html,
body,
#root,
#my-app {
    height: 100%;
    padding:0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#my-app{
    display: flex;
    flex-direction: column;
}

#middle-box{
   display: flex;
   flex-direction: row;
   flex: 1;
   overflow: hidden;
}
    